<!DOCTYPE html>

<html>
    <head>
        <meta charset="UTF-8"/>
        <title>Bubbles</title>
        <!-- <script src="https://cdn.plot.ly/plotly-latest.min.js"></script> -->
        <script type="module" src="static/logic2.py"></script>
    </head>

    <body>
        <div class="row">
            <div class="col-md-10">
                <div id="bubble"></div>         
            </div>
        </div>
           
        <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
        <script src="https://d3js.org/d3.v5.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/d3-tip/0.7.1/d3-tip.min.js"></script>
        <!-- <script type="text/javascript" src="static/js/logic.js"></script> -->
        <!-- <script type="module" src="static/logic2.py"></script> -->
    </body>

</html>